/* 태그명 선택자 */
p {
    background-color: green;
    font-size: 40px;
    border: 5px dotted red;
    color: white;
}

/* 아이디 선택자 */
#second_p {
    background-color: hotpink;
}

* {
    color: red;
}

.para {
    background-color: rgb(249, 229, 0);
}
